/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-size: 14px;
}

/* NAVBAR -----------------------------*/
/* .navbar{
  margin-bottom: 0;
} */
.navbar-brand {
  padding-top: 9px;
  padding-bottom: 0;
}
.navbar-brand img {
  width: 150px;
}
.navbar-default .container-fluid {
  background-color: white;
}
/* .navbar-default .navbar-brand, */
.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: 550;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #006EFB;
    /* background-color: inherit; */
}
/* .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: inherit;
} */
.btn-default {
  background-image: none;
  background-color: white;
  color: black;
  font-weight: 550;
  border: 2px solid #006EFB;
  border-radius: 10px;
}
.btn-default:focus, .btn-default:hover {
    background-color: #006EFB;
    color: white;
    text-shadow: none;
    border-color: #006EFB;
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .navbar-header {
    width: 100%;
  }
    .navbar-toggle {
    display: block;
  }
    .navbar-nav, .navbar-right {
    display: none;
  }
}
/* FINE NAVBAR -----------------------------*/

/* <!-- jUMBO --> */
.jumbo {
  background-image: url("./img/bg-sea.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.jumbo .row {
  padding: 35px;
}

/* <!-- card 1 --> */
.text-white {
  color: white;
}

/* <!-- card 2 --> */
.jumbo .card {
  background-color: white;
  padding: 25px;
  text-align: center;
}
.my-input {
  display: block;
  width: 100%
}
.card input,
.card a,
.card p {
  margin: 15px 0;
}
.card input {
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 4px;
}
.my-account {
  background-image: none;
  background-color: #0064FF;
  color: white;
  /* border: 2px solid #006EFB; */
  border-radius: 5px;
  font-size: 0.7em;
  line-height: 2.5em;
}
.my-google {
  color: black;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 5px;
  font-size: 0.7em;
  line-height: 2.5em;
}
.my-google img {
  height: 15px;
  float: left;
  margin-top: 5px;
  /* margin-left: 5px; */
}
.card p {
  font-size: 0.6em;
}

/* <!-- SECTION ONE --> */
section.logos {
  background-color: #F3F5F9;
  padding-top: 55px;
  padding-bottom: 30px;
}
section.logos h6 {
  text-transform: uppercase;
}
section.logos img {
  height: 60px;
  padding: 0 15px;
}
section.logos i {
  color: #3B658A;
  transform: rotate(180deg);
}
@media all and (min-widt: 720px) {
  section.logos img {
    height: 45px;
    padding: 0 0;
  }
}

/* <!-- SECTION TWO --> */
/* <!-- side menu --> */
.my-side-menu {
  border-left: 2px solid lightgray;
  color: gray;
  padding-left: 8px;
  line-height: 3em;
  font-size: 1.5em;
}
.my-side-menu:hover {
  border-left: 2px solid gray;
  padding-left: 10px;
  font-size: 2em;
}

/* <!-- SECTION TREE --> */
.designed-for-developers {
  background-color: #F3F5F9;
  padding: 50px 0;
}
.designed-for-developers p {
  margin: 20px 0;
}
.designed-for-developers i {
  color: #031B4E;
  font-size: 3em;
}
#left-gray {
  color: gray;
}
.designed-for-developers img {
  height: 500px;
}
.designed-for-developers .-right {
  transform: rotate(180deg);
}
.menu-traker {
  font-size: 0.25em;
}
.menu-traker a {
  margin: 0 5px;
}

/* <!-- SECTION FOUR --> */
.sect-four {
  padding: 50px 0;
}

.sect-four h2 {
  padding-bottom: 30px;
}

.sect-four i {
  transform: rotate(180deg);
}

/* <!-- SECTION FIVE --> */
.sect-five {
  background-color: blue;
  color: white;
}
.sect-five h2 {
 margin-top: 35px;
}
.sect-five .row {
  margin: 15px 0;
}
.row.bord-bott {
  border-bottom: 1px solid white;
}
.sect-five a {
  text-decoration: none;
  /* color: #337ab7; */
}

/* <!-- SECTION SIX --> */ /*vedi section 4 */

/* <!-- PARTE UNO --> */
.part-one  {
  background-color: blue;
  color: white;
  padding: 35px 0;
}

.part-one .btn-default {
  background-color: white;
  color: blue;
  font-weight: 550;
  border-radius: 10px;
  text-shadow: none;
  border: 2px solid white;
}

/* <!-- PARTE DUE --> */
.correlate-link {
  background-color: darkblue;
}
.correlate-link .container {
  padding: 45px 0;
}
footer ul {
  list-style: none;
  color: white;
}
.li-title{
  font-weight: bold;
  padding-bottom: 5px;
}
.correlate-link a {
  text-decoration: none;
  color: gray;
}

.footer-logo {
  padding: 20px 0;
  filter: saturate(0.6);
}
.lightgray {
  color: lightgray
}
.darkergray {
  color: gray;
}
.img-custom img {
  padding: 0 6px;
  filter: invert(0.5);
}
.img-custom img:hover {
  filter: invert(1);
}

/* <!-- SHARK AND SPEECH BUBBLE --> */
.the-fish {
  position: fixed;
  right: 0;
  bottom: 0;
}
.box {
  width: 300px;
  margin-bottom: 20px;
  background: #00bfb6;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: arial;
  position:relative;
  display: inline-block;
}
.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00bfb6;
  border-right: 10px solid transparent;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 60px;
}
.shark {
  border-radius: 5px;
  height: 80px;
  margin-bottom: 23px;
}
